body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width : 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: absolute;
    text-align: center;
}
.mainDiv{
    width: 100%;
    height : 100%;
    position: absolute;
}
.leaflet-control-navbar{
    margin-top : 235px;
}
.toggle {
    background: orange !important;
}
.toggle:hover{
    background: darkorange !important;
}
.gitButton{
    padding:15px 30px;
    background-color: #47a230;
    text-decoration: none;
    font-weight: 900;
    color: white;
    text-transform:uppercase;
    transition: background-color .5s;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.gitButton:hover {background-color: #1d7806}
.gitButton:visited {color: white;}
.manualButton {
    padding:15px 30px;
    background-color: #308ba2;
    margin-left: 40px;
    text-decoration: none;
    font-weight: 900;
    color: white;
    text-transform:uppercase;
    transition: background-color .5s;
    border: none;
    border-radius: 2px;			
    cursor: pointer;
}
.basinessSpan{
    color: gray;
    height: 20px;
    width: 20px;
    position: absolute;
}
.pageContainer{
    width: 100%;
    height: inherit;
    z-index: 99999999;
    position: relative;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
}
.infoContainer{
    width:initial;
    height: auto;
}
.listStyle{
    float: left;
    width: max-content;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.listTable{
    width: 100%;
    height:auto;
}
.listTable th{
    border: 1px solid #dddddd;
    cursor: default;
}
.listTable tr{
    height: 25px;
    cursor: pointer;
}
.listTable tr:hover{
    color: #0000ffc7;
}
.listTable td{
    border: 1px solid #dddddd;
}


img
{
    border: none;
}

#videoDock
{
    width: 600px;
    position: relative;
    text-align: center;
    z-index: 9999;
    height: 76px;
    display: inline-block;
    
}

.dock-container
{
    opacity: 0.9;
    width: auto;
    height: 76px;
    /* background: url(../images/appleToolbar/dock-bg.png) repeat-x left top; */
    background: gray;
    position: absolute;
    bottom: 0px;
    _filter: alpha(opacity=80);
    _height: 80px;
    -moz-box-shadow: 1px 1px 4px #222;
    -webkit-box-shadow: 1px 1px 4px #222;
    box-shadow: 1px 1px 4px #222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /*behavior: url(../Styles/ie-css3.htc);*/
}
.dock-item
{
    margin-top: -5px;
}
.toolBarDivForIE
{
    display: none;
    height: 50px;
    background: url(../images/appleToolbar/dock-bg.png) repeat-x left top;
    width: 330px;
    position: absolute;
    text-align: center;
    margin-left: -165px;
    _filter: alpha(opacity=80); /*margin:0px auto;*/
}
.toolBarDivForIE img
{
    border: none;
    margin: 7px auto;
    position: relative;
    height: 80%;
}
a.dock-item
{
    display: block;
    font: bold 12px Arial, Helvetica, sans-serif;
    width: 40px;
    color: #000;
    bottom: 5px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    _bottom: 30px;
}
.dock-item span
{
    /*display: none;*/
    padding-left: 20px;
}
.dock-item img
{
    border: none;
    margin: 5px 10px 0px;
    width: 100%; /*padding-bottom: 8px;*/
}
/* Tiny Carousel */
#slider1
{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* padding: 0 0 10px; */
}
#slider1 .viewport img
{
    width: 50px;
}
#slider1 .viewport span
{
   display: block;
   color: white;
}
#slider1 .viewport li:hover
{
    /* color: blanchedalmond; */
    font-weight: bold;
    /* background: rebeccapurple; */
    /* border-radius: 20px; */
    font-size: 16px;
}
#slider1 .viewport
{
    float: left;
    width: 490px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
    
#slider1 .viewport li
{
    cursor:pointer;
}
#slider1 .buttons
{
    display: block;
    margin: 19px 10px 0 5px;
    background-position: 0 -38px;
    text-indent: -999em;
    float: left;
    width: 39px;
    height: 37px;
    overflow: hidden;
    position: relative;
}
#slider1 .prev
{
    background: url("../images/appleToolbar/leftArrow.png") no-repeat scroll 0 0 transparent;
    background-position: 13px 12px;
    
}
#slider1 .next
{
    background: url("../images/appleToolbar/rightArrow.png") no-repeat scroll 0 0 transparent;
    background-position: 13px 12px;
    margin: 19px 0 0 10px;
}
#slider1 .disable
{
    visibility: hidden;
}
#slider1 .overview
{
    list-style: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 240px;
    left: 0px ;
    top : 4px
}
#slider1 .overview li
{
    float: left;
    margin: 0 0px 0 0;
    padding: 1px;
    height: 100%;
    border: none;
    width: 80px;
}
.paging ul {
    list-style: none;
    padding-left: 0;
}

.paging ul li {
    padding: 0 10px;
    vertical-align: top;
    display: inline-block;
    font-size: 14px;
    min-width: 36px;
    min-height: 28px;
    line-height: 28px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    background-color: #ffffff;
    color: #606266;
    border-radius: 6px;
    margin: 0 1px;
    border: 1px solid #ebebeb;
    height: 30px;
}

.paging ul li:hover {
    transform: scale(1.1);
    background-color: #F4F6F8;
}

.paging  li.active {
    background: #98A6AD;
    color: white;
    cursor: not-allowed;
}

.paging li.disabled {
    cursor: not-allowed;
}
.paging li.totalPage {
    background: transparent;
    cursor: default;
    border: none;
    padding: 0 6px;
}

.paging li.totalPage:hover {
    transform: none;
    background-color: #ffffff;
}


.paging li input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    outline: none;
    padding: 3px 5px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 40px;
    height: 25px;
    margin: 0 6px;
}

.paging li input:focus{
    border-color: #98A6AD;
}
.paging{
    user-select: none;
    max-height: 100px;
    width: 100%;
    position: absolute;
}

.paging ul:nth-child(2){
    border-radius: 6px;
}

input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.prunecluster {
	font-size: 12px;
	border-radius: 20px;
	transition: all 0.3s linear;
}
.leaflet-marker-icon.prunecluster-anim,
.leaflet-marker-shadow.prunecluster-anim,
.leaflet-markercluster-icon.prunecluster-anim {
	transition: all 0.3s linear;
}

.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-icon,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-marker-shadow,
.leaflet-zoom-anim .leaflet-zoom-animated.leaflet-markercluster-icon {
    transition: transform 0.25s cubic-bezier(0,0,0.25,1);
}
.prunecluster div {
	width: 30px;
	height: 30px;
	text-align: center;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 50%;
}
.prunecluster div span {
	line-height: 30px;
}

.prunecluster-small {
	background-color: #b5e28c;
	background-color: rgba(181, 226, 140, 0.6);
}

.prunecluster-small div {
	width: 28px;
	height: 28px;
	background-color: #6ecc39;
	background-color: rgba(110, 204, 57, 0.6);
}

.prunecluster-small div span {
	line-height: 28px;
}

.prunecluster-medium {
	background-color: #f1d357;
	background-color: rgba(241, 211, 87, 0.6);
}

.prunecluster-medium div {
	background-color: #f0c20c;
	background-color: rgba(240, 194, 12, 0.6);
}

.prunecluster-large {
	background-color: #fd9c73;
	background-color: rgba(253, 156, 115, 0.6);
}

.prunecluster-large div {
	width: 34px;
	height: 34px;
	background-color: #f18017;
	background-color: rgba(241, 128, 23, 0.6);
}

.prunecluster-large div span {
	line-height: 34px;
}
.echarts-icon{
	width:100px;
	height:100px;
}
.my-div-icon{
	background-color:rgba(255,255,255,0);
	margin-top: -50px !important;
	margin-left: -50px !important;
}

